# Irrelevant files ignored for performance reasons.
node_modules
*.min.js
**/lib/
public/
coverage/
**/vendor/
_build
.pytest_cache
# Files which contain incompatible syntax.
*.html
/site
.mypy_cache
/coverage_html_report
